<html lang="en">
<head>
    <title>N + 1 - Глоттохронология</title>
    <link rel="stylesheet" href="/static/styles/chronosStyle.css">
</head>
<body>
    <header>
        <div class="header-content">
            <h1>
                <a href="/languages"><svg width="57" height="23" viewBox="0 0 57 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 23V0H4.41599L14.0554 14.49V0H18.861V23H14.4126L4.76883 8.51V23H0Z" fill="#32363A"/>
                    <path d="M28.5456 4.27344H32.7019V9.53058H37.6374V13.4406H32.7019V18.7306H28.5456V13.4406H23.6426V9.53058H28.5456V4.27344Z" fill="#32363A"/>
                    <path d="M51.8599 18.9914H56.3095V23H42.4121V18.9914H47.2177V8.37857C46.8427 8.44683 46.4623 8.47983 46.0813 8.47715H42.477V4.56714H45.5617C46.7307 4.56714 47.2827 3.48286 47.2827 2.23429V0H51.861L51.8599 18.9914Z" fill="#32363A"/>
                </svg></a>
            
            </h1>
     
        </div>
    </header>
    <main>
        <h1>Заявка на анализ языков</h1>
        
     
        
        <h2>Выбранные языки</h2>
        <div class="language-list">
            {{ if .request.SelectedLanguages }}
                {{ range .request.SelectedLanguages }}
                <div class="language-item">
                    <h3 class="language-title">{{ .Name }}</h3>
                    <img class="language-image" src="/static/img/{{ .ID }}.jpg" alt="{{ .Name }}" onerror="this.style.display='none'">
                    <div class="language-details">
                        <p><b>Семья:</b> {{ .Family }}</p>
                        <p><b>Ветвь:</b> {{ .Title }}</p>
                    </div>
                    <div class="language-actions">
                        <a class="action-button remove-button" href="/chronos/{{ .ID }}/remove">Удалить</a>
                        <div class="action-item quantity">
                            <p>Количество</p>
                            <input class="quantity-input" type="text" name="lang-quantity" value="{{ .Count }}" readonly>
                        </div>
                    </div>
                </div>
                {{ end }}
            {{ else }}
                <div class="empty-message">
                    <p>Нет выбранных языков. Добавьте языки для анализа.</p>
                </div>
            {{ end }}
        </div>
        <div class="additional-fields">
            <div class="field-item comment-field">
                <p>Комментарий</p>
                <input class="field-input comment-input" type="text" name="comment" value="{{ .request.Comment }}">
            </div>
            <div class="field-item result-field">
                <p>Расхождение во времени</p>
                <input class="field-input result-input" type="text" name="divergence" value="{{ .request.Divergence }}">
            </div>
        </div>
    </main>
</body>
</html>